.hero {
  display: flex;
  flex-wrap: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  max-height: 4000px;
  background: none;
  font-size: 1em;
  font: sans-serif;
  overflow: auto;
  padding-right: 5px;
  padding-left: 5px;
}

h2 {
	background: none;
}